@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import "../css/flexslider.css";
@import "../font/fonts.css";
@import "../font1/css/font-awesome.css";
@import "../css/easy-responsive-tabs.css";
@import "../css/owl.carousel.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family:'calibriregular', Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:17px;
  color:#7f7f7f;
  min-width: 1054px;
  background: #fcfcfc;
  -webkit-text-size-adjust: none;
}
.main{
  width: 1054px;
  margin: 0 auto;
}
/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.button{
  display:inline-block;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.button:hover{
  background:;
  color:#000;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_in-block{ display:inline-block;}

/*----------------------> Basic Colors <------------------*/



/*======================> Header <======================*/

header {
  width: 100%;
  background: #444444;
}
.logo {
  display:block;
  width:250px;
  height:57px;
  padding: 20px 0 20px 0;
}
.registration{
  padding: 40px 50px 0 10px;
  color: #fff;
}
.registration .fa-plus{
  color: #d3d3d3;
  font-size: 16px;
  padding-right: 15px;
  line-height: 22px;
}
.s_network{
  padding:40px 50px 0 0px; 
}
.s_network_item{
  display:inline-block;
}
.s_network .fa-facebook, .s_network .fa-tumblr, .s_network .fa-google-plus, .s_network .fa-rss, .s_network .fa-pinterest{
  display: block;
  width: 22px;
  height: 22px;
  color: #fff;
  font-size: 14px;
  padding: 3px 0 0 6px;
  margin-left: 4px;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.s_network .fa-facebook{
  background:#445b84;
  background-position:0px 10px;
}
.s_network .fa-google-plus{
  background: #a0231a;
}
.s_network .fa-rss{
  background: #c76414;
}
.s_network .fa-pinterest{
  background: #ad423b;
}
.s_network .fa-tumblr{
  background: #5e7cb0;
}
.sf-menu .fa-user{
  padding-right: 10px;
  line-height: 20px;
}
 .sf-menu .fa-caret-down{
    padding-left: 30px;
    line-height: 20px;
}

/*=====================> Content ========================*/
#content {padding:0px 0px 0px 0px;}
#content:before, #content:after{
  content: "";
  display: block;
  height: 2px;
  background: url(../images/content_bg.png) 0 0 no-repeat;
  -webkit-background-size: cover;
   background-size: cover; 
  position: absolute;
  left: 0;

}
.cont_pad{padding:0 0 0 0 !important;}
.carousel{
  height: 195px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
}
.slides_figcaption{
  padding: 25px 0 20px 0;
}
.slides_figcaption span{
  font-size: 14px;
  line-height: 16px;
  padding-top: 10px;
  font-weight: 300;
}
.theme_text{
  width: 690px;
  font-size: 24px;
  line-height: 26px;
}
.theme_box{
  padding: 110px 0 62px 0;
}
.theme_box .fa-long-arrow-right{
  padding-left: 10px;
}

.theme_btn{
  display: inline-block;
  padding: 15px 20px 15px 25px;
  background: #4fb2cb;
  color: #fff;
  font-size: 19px;
  line-height: 22px;
}
.latest_figure{
  width: 330px;
  margin: 0 0 35px 30px;
}
.latest_box{
  padding-bottom: 60px;
}
.latest_title{
  padding: 15px 0 15px 0;
}
.container_home{
  border-top: 1px solid #dfdfdf;
  padding-bottom: 60px;
}
.link_item{
  padding-left:5px;
}
.link_item a{
  display: block;
  color:#646464;
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 25px;
  border-top: 1px solid transparent;
  font-size: 17px;
  line-height: 19px;
}
.link_item a:hover{
  color: #c35757;
   border-top: 1px solid #c35757;
}
/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.p2{ margin-bottom:0;}
.p3{ margin-bottom:0;}
.p4{ margin-bottom:0;}
.p5{ margin-bottom:0;}
.p6{ margin-bottom:0;}


/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1_link{}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 18px;
  line-height:30px;
  color:#fff;
}

.title2{
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color:#414141;
}
.title3{
  font-size: 17px;
  line-height: 19px;
  color:#000;
}

.t_ind{ margin-bottom:px;}
.t_ind1{ margin-bottom:px;}
.t_ind2{ margin-bottom:px;}

/*================================>> GOOGLE FONTS  <<========================================*/
.proxima{
  font-family: 'proxima_nova_ltlight', Arial, Helvetica, sans-serif;
}
.calibrib{
 font-family: 'calibribold', Arial, Helvetica, sans-serif;
}



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
#contact-form textarea, #contact-form input[type="text"]{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contact-form input[type="text"]{
  width:347px;
}
#contact-form textarea {
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}
  
#contact-form label {
  display:inline-block;
  position: relative;
  min-height:45px;
  overflow:hidden;
 }
#contact-form label.message {
  display:block;
  padding-bottom:0;
}
#contact-form .button {
  margin-left:8px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
  width:74px;
}
.adress dt{ margin-bottom:14px;}

.demo{}
.demo:hover{ text-decoration:underline;}
/*
<dl class="adress">
  <dt><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></dt>
  <dd><span>Freephone:</span>+1 800 559 6580</dd>
  <dd><span>Telephone:</span>+1 800 603 6035</dd>
  <dd><span>FAX:</span>+1 800 889 9898</dd>
  <dd>E-mail: <a href="#" class="demo">mail@demolink.org</a></dd>
</dl>
<div class="social">
	<a href="#" title="RSS"><img src="images/soc1.png" alt=""></a>
	<a href="#" title="Twitter"><img src="images/soc2.png" alt=""></a>
	<a href="#" title="Facebook"><img src="images/soc3.png" alt=""></a>
	<a href="#" title="Google +"><img src="images/soc4.png" alt=""></a>
</div>
*/

/*================================>> Footer <<========================================*/
.footer_top {
  background: #444444;
}
.footer-bottom{
  background: #353535;
}
.footer_about_contact{
  margin-bottom: 30px;
}
.footer_about_contact a{
  color: #4eacc4;
}
.footer_about_contact .fa-envelope{
  padding-right: 15px;
  color: #fff;
}
.footer_about, .footer_latest, .footer_like{
  width: 330px;
  padding-left: 30px;
}
.footer_latest_title, .footer_like_title{
  padding: 20px;
}

.footer_about_text{
  padding: 0 0 30px 30px;
}
.footer_latest_text{
  font-size: 18px;
  line-height: 22px;
}
.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}